body {
  font-family: Luminari, fantasy /* Семейство шрифтов */
  font-size: 12pt; /* Размер основного шрифта в пунктах  */
  background: url(fon.png); /* Цвет фона веб-страницы */
}
header{
   font-family: Luminari, fantasy; /* Семейство шрифтов */
   text-align: left;
   background: #ffe5b4 ;
   margin:20px;
}

.logo{
  float:left;
  margin:10px; 
}
nav{
   font-family: Luminari, fantasy; /* Семейство шрифтов */
   text-align: center;
   background: #ffe5b4 ;
   margin-left:15%;
   width: 70%;
}
footer{

  text-align: right;
  margin-right: 15%
}
h1 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-weight: normal; /* Нормальное начертание текста  */
}
h3{ 
   text-align: left;
}
.link {
  margin-left: 15%;
  background: #ffe5b4 ;
  width:70%;
}
.table{
  text-align: center;
  background: #ffe5b4 ;
  position: relative;
  margin-left:15%;
  width: 70%;
}
table{
  border: 1px solid black;
  border-collapse: collapse; //*убираем двойные линии вокруг ячеек*/
  position: relative;
  width: 100%;
}
tr:nth-child(2n){
  background: #EFB64C ;
}
td, th{
  text-align: center;
  border: 1px solid black;
}
.a1{
  width: 50%;
}
.a2{
  width: 25%;
}
.forma{
  background: #ffe5b4 ;
  position: relative;
  margin-left:15%;
  width: 70%;
}